<% if logged_in? %>
    <p>ログイン完了ユーザ:
    <%= current_user.name %> 
    </p>
<% else %>
<div>
    <div class="text-center">
        <h1>English Kakiebo</h1>
        <h2>Write Your Daily Expenses in English</h2>
        <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
</div>
<% end %>
