<% if logged_in? %>
    <%= render 'lists/lists', lists: @lists %>
<% else %>
<div>
    <div class="text-center">
        <h1>English Kakiebo</h1>
        <h2>Write Your Daily Expenses in English</h2>
        <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
</div>
<% end %>
